# === Java / Build ===
/target/
/build/
/out/
/bin/
*.class
*.log
*.jar
*.war
*.ear

# === IDE ===
.idea/
.vscode/
.settings/
.classpath
.project
*.iml

# === OS ===
.DS_Store
Thumbs.db

# === Env / Spring ===
.env

# 기본 설정은 커밋(원한다면)
!src/main/resources/application.properties
!src/main/resources/application.yml

# 로컬/배포용 비밀 설정만 무시
src/main/resources/application-*.properties
src/main/resources/application-*.yml
!src/main/resources/application-example.properties
