@charset "UTF-8";

.main-content {
	background-color: #f8f9fa;
}

.card {
	width: 100%;
	max-width: 500px;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.input-group-text {
  min-width: 130px;
  justify-content: center;
}
.form-section {
  margin-bottom: 1.2rem;
}

button {
	min-width: 120px;
}
@media (max-width: 576px) {
  .input-group-text {
    min-width: 80px;
    font-size: 0.9rem;
  }
}

/* 중복 검증 완료된 input 의 CSS */
.chk-dupl-btn {
	border: 2px solid #198754 !important;
}